page-home {
    .home-background {
        background: url("./../assets/imgs/bg.png") no-repeat fixed center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: none;
    contain: none;
}
.input-cover{
    // border-bottom:1px solid #fff !important;
    // color:#fff;
    // margin-top: 8px;
}
ion-input{
    color:#fff;
    margin-top: 7px;
    border-bottom: 1px solid #fff;
}
.button-ios {
    border-radius: 4px;
    height: 2.3em;
    font-size: 1.5rem;
    font-weight: bold;
}
.button-md {
    border-radius: 4px;
    height: 2.3em;
    font-size: 1.5rem;
    font-weight: bold;
}
.flag{
    margin-top: 12px;
}
.dial_code{
    margin-top: -23px;
    margin-left: 4px;
    margin-bottom: 4px;
    font-size: 13px;
}
.coun_code{
    border-bottom: 1px solid #fff;
    padding: 0px;
    color:#fff;
}
.button-full-md {
    border-radius: 9px;
}
.text-input-md  {
    margin: 9px 8px 0px 10px;
    padding-bottom: 4px;
    color: #fff;
    font-size: 13px;
}
.button-full-ios{
    border-radius: 9px;
}
.text-input-ios {
    margin: 9px 8px 0px 10px;
    padding-bottom: 4px;
    color: #fff;
    font-size: 13px;
}
.light-bg{
    border: 1px solid #fff !important;
    border-radius: 9px !important;
    color: #fff !important;
    background-color: #f4f4f400 !important;
}
.text-input::-moz-placeholder {
    color: white;
  }.button-md-light {
    background-color: rgba(72, 138, 255, 0);
}
.button-ios-light {
    background-color: rgba(72, 138, 255, 0);
}
  
  .text-input:-ms-input-placeholder {
    color: white;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }
// .center {
//     margin-left: auto;
//     margin-right: auto;
//     display: block;
// }

// ion-img {
//     object-fit: resize;
//     height: 100%;
//     width: auto !important;
//     border: 0;
//     padding: 0;
   
// }
}
